# Ignorar bases de datos SQLite
*.sqlite3
db.sqlite3

# Ignorar migraciones innecesarias
**/migrations/*.pyc
**/migrations/__pycache__/

# Ignorar caché y archivos temporales de Django
__pycache__/
*.pyc
*.pyo
*.log

# Ignorar archivos de configuración sensibles
.env

# Ignorar node_modules (para proyectos con Node.js o React)
node_modules/
